p, a, input {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height:1.75;
}

label {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height:1.75;
	font-size:85%;
}

h1, h2, h3, h5 {
	color:#777777;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size:150%;
	font-weight:bold;
}



h4 {
	color:#ffffff;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	display:inline;
}

h6.footertext {
	margin-top: 5px;
	font-size:80%;
}

#wrapper {
	   	background-image:url("../images/seamless_paper_texture.png");
   	max-height:90vh;
   	overflow:auto;
   	vertical-align:top;
}
body {
   	/*background-image:url("../images/seamless_paper_texture.png");*/
    /*background-color: orange;*/
	}
header {
	background:#ffffff;
	border-color: #cccccc;
	float: left;
	border-bottom-style:solid;
	border-width:2px;
	height:100px;
	width:100%;
}

input {
	margin-top:5px;
	margin-bottom:6px;
	padding-top:3px;
	padding-bottom:5px;
	width:100%;
	box-sizing:border-box;
	color:#777777;
	font-size:80%;
}
#messagebox {
	padding:0 0 80px 0;
	margin-top:10px;
	margin-bottom:5px;
	width:100%;
	height:150px;
	box-sizing:border-box;
	color:#777777;
	font-size:80%;
	text-align:left;
}

#submitbutton {
	width:20%;
	color:#ffffff;
	font-size:80%;
	background-color: #4aaaa5;
	text-align: center;
}

.mainsectionheader {
	color: #4aaaa5;
	padding-top:20px;
	padding-bottom:10px;
}

#nameboxcolor {
	color: #ffffff;
}

.aboutmeimage {

	max-width: 140px;
	height:auto;
	float:left;
}


#namebox {
	background-color: #4aaaa5;
	float:left;
	height:50px;
	width:35%;
	padding-top:30px;
	padding-left:10px;
	padding-bottom:20px;
	margin-left:100px;
	text-align: center;

}


#menu {
	float: right;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
padding:40px;
word-spacing:20px;
margin-right:30px;
color: #777777;

}


#aboutme {
width: 40%;
height:auto;
max-height:70vh;
background-color: #ffffff;
margin-left:100px;
margin-right:10px;
margin-top:20px;
margin-bottom:30px;
float: left;
padding-left:50px;
padding-right:50px;
border-color:#dddddd;
border-style:solid;
border-width:2px;
overflow: scroll;
}


#picture {
max-width: auto;
height: auto;
float: left;
padding:20px;
}

#connect {
width:25%;
/*height:20%;*/
float: left;
background-color:#ffffff;
border-color:#dddddd;
text-align: center;
margin-left:20px;
margin-top:20px;
margin-right:20px;
padding:5px;
border-style:solid;
border-width:2px;
color: #777777;
}

#connectruleline {
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:20px;
}


#footer {
	position:fixed;
	bottom:0;
	color: #777777;
	background-color: #666666;
	height:40px;
	width:100%;
	text-align:center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top-color:#4aaaa5;
	border-top-style:solid;
	border-top-width:4px;
	padding-top:30px;

}


#contact {
	width:40%;
	height:auto;
	background-color: #ffffff;
	margin-left:100px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:100px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	
}

#portfolio {
	width:45%;
	height:70vh;
	background-color: #ffffff;
	margin-left:100px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:20px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;

} 

.portfoliocontainer {
	margin-top:20px;
	margin-bottom:10px;
	position: relative;
    display: inline-block;
    width:45%;
    height:auto;

}


.portfoliotext {
	position: absolute;
	bottom:5px;
    height: 20%;
    padding-top:15px;
    text-align: center;    
    width: 100%;
    background-color: #4aaaa5;
    color:#ffffff;
  
}

.portfoliopicture {
	display:block;
	height:auto;
	float:left;
	max-width:100%;
    height:auto;
}

#comingsoon {
	text-align:center;
	vertical-align:middle;
	line-height:200%;
}

/*Remove Underlines from Links on Header*/
a:link {
    text-decoration: none;
  
}
a:visited {
    text-decoration: none;
 
}
a:hover {
	color:orange;
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.line-separator{
height:2px;
background:#777777;
width: 450px;
padding-left: 50px;
padding-right: 50px;
margin-bottom:10px;
}

.line-separator-contact{

height:1px;
background:#777777;
width: 40px;
padding-left: 75px;
padding-right: 100px;
margin-bottom:20px;
margin-left:20px;
margin-top:20px;
}

@media screen and (max-width: 980px) {
p, a, input {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height:1.75;
}

label {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height:1.75;
	font-size:85%;
}

h1, h2, h3, h5 {
	color:#777777;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size:150%;
	font-weight:bold;
}



h4 {
	color:#ffffff;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	display:inline;
}

h6.footertext {
	margin-top: 20px;
	font-size:80%;
}

#wrapper {
	   	background-image:url("../images/seamless_paper_texture.png");
   	max-height:90vh;
   	vertical-align:top;
}
body {
   	/*background-image:url("../images/seamless_paper_texture.png");*/
    /*background-color: orange;*/
	}
header {
	background:#ffffff;
	border-color: #cccccc;
	float: left;
	border-bottom-style:solid;
	border-width:2px;
	height:100px;
	width:100%;
}

input {
	margin-top:5px;
	margin-bottom:6px;
	padding-top:3px;
	padding-bottom:5px;
	width:100%;
	box-sizing:border-box;
	color:#777777;
	font-size:80%;
}
#messagebox {
	padding:0 0 80px 0;
	margin-top:10px;
	margin-bottom:5px;
	width:100%;
	height:150px;
	box-sizing:border-box;
	color:#777777;
	font-size:80%;
	text-align:left;
}

#submitbutton {
	width:20%;
	color:#ffffff;
	font-size:80%;
	background-color: #4aaaa5;
	text-align: center;
}

.mainsectionheader {
	color: #4aaaa5;
	padding-top:20px;
	padding-bottom:10px;
}

#nameboxcolor {
	color: #ffffff;
}

.aboutmeimage {

	max-width: 140px;
	height:auto;
	float:left;
}


#namebox {
	background-color: #4aaaa5;
	float:left;
	height:50px;
	width:35%;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-left:100px;
	text-align: center;

}


#menu {
	float: right;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
padding:40px;
word-spacing:20px;
margin-right:10px;
color: #777777;

}


#aboutme {
width:40%;
height:auto;
background-color: #ffffff;
margin-left:100px;
margin-right:10px;
margin-top:20px;
margin-bottom:30px;
float: left;
padding-left:50px;
padding-right:50px;
border-color:#dddddd;
border-style:solid;
border-width:2px;
overflow: scroll;
}

#contact {
	width:40%;
	height:auto;
	background-color: #ffffff;
	margin-left:100px;
	margin-right:10px;
	margin-top:20px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	
}

#portfolio {
	width:40%;
	height:auto;
	background-color: #ffffff;
	margin-left:100px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:20px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;

} 

#picture {
max-width: auto;
height: auto;
float: left;
padding:20px;
}

#connect {
width:25%;
/*height:20%;*/
float: left;
background-color:#ffffff;
border-color:#dddddd;
text-align: center;
margin-left:20px;
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
padding:5px;
border-style:solid;
border-width:2px;
color: #777777;
}

#connectruleline {
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:20px;
}


#footer {
	position:fixed;
	bottom:0;
	color: #777777;
	background-color: #666666;
	height:60px;
	width:100%;
	text-align:center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top-color:#4aaaa5;
	border-top-style:solid;
	border-top-width:4px;
	padding-top:10px;

}


#contact {
	width:40%;
	height:auto;
	background-color: #ffffff;
	border-color:#dddddd;
	margin-left:100px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:100px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
}

#portfolio {
	width:60%;
	height:auto;
	background-color: #ffffff;
	margin-left:20px;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:20px;
	float: left;
	padding-left:10px;
	padding-right:10px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;

} 

.portfoliocontainer {
	margin-top:20px;
	margin-bottom:10px;
	position: relative;
    display: inline-block;
    width:45%;
    height:auto;

}


.portfoliotext {
	position: absolute;
	bottom:5px;
    height: 20%;
    padding-top:15px;
    text-align: center;    
    width: 100%;
    background-color: #4aaaa5;
    color:#ffffff;
  
}

.portfoliopicture {
	display:block;
	height:auto;
	float:left;
	max-width:100%;
    height:auto;
}

#comingsoon {
	text-align:center;
	vertical-align:middle;
	line-height:125%;
	width:40%;
	height:auto;
	background-color: #ffffff;
	margin-left:100px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:400px;
	float: left;
	padding-left:20px;
	padding-right:20px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	}
}

/*Remove Underlines from Links on Header*/
a:link {
    text-decoration: none;
  
}
a:visited {
    text-decoration: none;
 
}
a:hover {
	color:orange;
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.line-separator{
height:2px;
background:#777777;
width: 450px;
padding-left: 50px;
padding-right: 50px;
margin-bottom:10px;
}

.line-separator-contact{

height:1px;
background:#777777;
width: 40px;
padding-left: 75px;
padding-right: 100px;
margin-bottom:20px;
margin-left:20px;
margin-top:20px;
}	

}

@media screen and (max-width: 768px) {
	header {
		position:static;
		text-align:left;
		width:100%;
		height:75px;
	}
	h6.footertext {
	margin-top: 10px;
	font-size:80%;
}
	#wrapper {
	   	background-image:url("../images/seamless_paper_texture.png");
   	max-height:93vh;
   	vertical-align:top;
 }

	#namebox {
		position:static;
		float:left;
		width:40%;
		height:64px;
		padding:5px;
		text-align:center;
		margin:1px;
		margin-left:10px;
	}
	#menu {
	/*	position:static;*/
	/*	clear:both;*/
		float:right;
		word-spacing: 20px;
		margin:1px;
		margin-left:auto;
		margin-right:auto;
		padding-top:30px;
		padding-bottom:10px;
		padding-right:10px;
		padding-left:10px;
	}

	.aboutmeimage {

		max-width: 180px;
		height:auto;
		float-left;
		margin-left:15px;
		margin-right:5px;
	}
	#aboutme {
		width:90%;
		height:auto;
		background-color: #ffffff;
		float: left;
		padding-left:20px;
		padding-right:10px;
		padding-top:20px;
		padding-bottom:20px;
		border-color:#dddddd;
		border-style:solid;
		border-width:2px;
		overflow: scroll;
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:20px;
	}

#contact {
	width:90%;
	height:auto;
	background-color: #ffffff;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	float: left;
	padding-left:20px;
	padding-right:10px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	
}

#portfolio {
	width:90%;
	height:auto;
	background-color: #ffffff;
	margin-left:10px;
	margin-right:5px;
	margin-top:10px;
	margin-bottom:20px;
	float: left;
	padding-left:20px;
	padding-right:10px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;

} 

.portfoliopicture {
	display:block;
	height:auto;
	clear:left;
	min-width:40%;

    height:auto;
}

.portfoliocontainer {
	margin-top:20px;
	margin-bottom:10px;
	position: relative;
    display: inline-block;
    min-width:40%;
    height:auto;

}
.portfoliotext {
	position: absolute;
	bottom:5px;
    height: 20%;
    padding-top:15px;
    text-align: center;    
    min-width: 40%;
    background-color: #4aaaa5;
    color:#ffffff;
    display:block;
    max-width:100%;
  
}
	#picture {
		max-width: auto;
		height: auto;
		clear: both;
		padding:20px;
	}

	#footer {
	position:fixed;
	bottom:0;
	color: #777777;
	background-color: #666666;
	height:40px;
	width:100%;
	text-align:center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top-color:#4aaaa5;
	border-top-style:solid;
	border-top-width:4px;
	padding-top:5px;

}
	#connect {
	width:90%;
	height:auto;
	clear: both;
	background-color:#ffffff;
	border-color:#dddddd;
	text-align: left;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:20px;
	border-style:solid;
	border-width:2px;
	color: #777777;
	font-size:80%;
	margin-bottom:20px;
	padding-left:20px;
	}

	#connectruleline {
	margin-left:auto;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:10px;
}

#comingsoon {
	text-align:center;
	vertical-align:middle;
	line-height:125%;
		width:90%;
		height:auto;
		background-color: #ffffff;
		float: left;
		padding-left:20px;
		padding-right:10px;
		padding-top:20px;
		padding-bottom:20px;
		border-color:#dddddd;
		border-style:solid;
		border-width:2px;
		overflow: scroll;
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:400px;
	}
}

@media screen and (max-width: 640px) {
	header {
		position:static;
		text-align:left;
		width:100%;
		height: 100px;
	}
	h6.footertext {
	margin-top: 10px;
	font-size:80%;
}
	#wrapper {
	   	background-image:url("../images/seamless_paper_texture.png");
   	max-height:93vh;
   	vertical-align:top;
 }

	#namebox {
		position:static;
		clear:both;
		width:100%;
		padding:5px;
		text-align:center;
		margin:1px;
		height:44px;
	}
	#menu {
	/*	position:static;*/
	/*	clear:both;*/
		float:left;
		padding:5px;
		word-spacing: 20px;
		text-align:center;
		margin:1px;
		margin-left:20px;
		margin-right:auto;
		padding-left:50px;
		height:15px;
	}
	#aboutme {
		width:90%;
		height:auto;
		background-color: #ffffff;
		float: left;
		padding-left:10px;
		padding-right:10px;
		border-color:#dddddd;
		border-style:solid;
		border-width:2px;
		overflow: scroll;
		margin-left:15px;
		margin-right:auto;
		margin-top:10px;
		margin-bottom:20px;
	}
	.aboutmeimage {

	max-width: 80%;
	height:auto;
	clear:both;
	margin-left:15px;
	margin-right:auto;
}

#contact {
	width:90%;
	height:auto;
	background-color: #ffffff;
	margin-left:15px;
	margin-right:auto;
	margin-top:10px;
	float: left;
	padding-left:10px;
	padding-right:10px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	
}

#portfolio {
	width:90%;
	height:auto;
	background-color: #ffffff;
	margin-left:15px;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	float: left;
	padding-left:10px;
	padding-right:10px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;

} 

.portfoliopicture {
	display:block;
	height:auto;
	clear:both;
	width:90%;

    height:auto;
}

.portfoliocontainer {
	margin-top:20px;
	margin-bottom:10px;
	position: relative;
    display: inline-block;
    width:90%;
    height:auto;

}
.portfoliotext {
	position: absolute;
	bottom:5px;
    height: 20%;
    padding-top:15px;
    text-align: center;    
    width: 90%;
    background-color: #4aaaa5;
    color:#ffffff;
    display:block;
    min-width:90%;
  
}


	#picture {
		max-width: auto;
		height: auto;
		clear: both;
		padding:20px;
	}

	#footer {
	position:fixed;
	bottom:0;
	color: #777777;
	background-color: #666666;
	height:40px;
	width:100%;
	text-align:center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top-color:#4aaaa5;
	border-top-style:solid;
	border-top-width:4px;
	padding-top:5px;

}
	#connect {
	width:90%;
	height:auto;
	float: left;
	background-color:#ffffff;
	border-color:#dddddd;
	text-align: left;
	margin-left:15px;
	margin-top:2px;
	margin-right:auto;
	padding-left:10px;
	border-style:solid;
	border-width:2px;
	color: #777777;
	font-size:80%;
	margin-bottom:20px;
	}

	#connectruleline {
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:10px;
}
#comingsoon {
	text-align:center;
	vertical-align:middle;
	line-height:125%;
	width:90%;
	height:auto;
	background-color: #ffffff;
	float: left;
	padding-left:10px;
	padding-right:10px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	margin-left:15px;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:200px;
	}

}

